<main class="container fade-in">
	<a class="nav-back" href="#/work"><img src="assets/svg/arrow-left.svg"></a>
	<div class="view-copy">
		<h1 class="h1">{{ projectTitle }}</h1>

		<strong class="project-sub">{{ projectClient }}</strong>
		<span class="transparentize" aria-hidden="true">&#8212;</span>
		<strong class="project-sub">{{ projectYear }}</strong>
		
		<p>{{ projectDesc }}</p>

	</div>

	<img class="view-image" src="{{projectImg}}" alt="{{ projectTitle }} screenshot" >

	<div class="view-blurb">
		<h2 class="h2">Objective</h2>
		<p class="blurb-copy">{{ projectObjective }}</p>
	</div>

	<div class="view-blurb">
		<h2 class="h2">Highlights</h2>
		<p class="blurb-copy">{{ projectHighlights }}</p>
	</div>

	<div class="view-blurb">
		<h2 class="h2">Technologies Used</h2>
		<p class="blurb-copy">{{ projectTools }}</p>
	</div>


	<div class="view-cta">
		<a class="btn -large" href="{{ projectLink }}" target ="_blank">View Project</a>
	</div>
	

	<span class="end-mark" aria-hidden="true">&#9672;</span>
</main>