<main class="container">
	<a href="#/work"><img class="nav-back" src="assets/svg/arrow-left.svg"></a>
	<div class="view-copy">
		<h1 class="h1">Individual Project Name</h1>

		<strong class="project-sub">Client Name</strong>
		<span class="transparentize" aria-hidden="true">&#8212;</span>
		<strong class="project-sub">2017</strong>
		
		<p>The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe.</p>

	</div>

	<img class="view-image" src="assets/images/about-view.jpg">

	<div class="view-blurb">
		<h2 class="h2">Sub Head</h2>
		<p class="blurb-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iste saepe at maxime adipisci. Perspiciatis ducimus, non, dignissimos consequuntur aliquid at doloremque voluptates, amet maiores suscipit accusamus. Vitae, tenetur, facilis.</p>
	</div>

	<div class="view-blurb">
		<h2 class="h2">Sub Head</h2>
		<p class="blurb-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium inventore nulla odio, veniam deleniti amet sint rerum cumque doloremque fugit quod dignissimos aliquam ab animi sapiente eum. Placeat, illum qui.</p>
	</div>

	<div class="view-blurb">
		<h2 class="h2">Sub Head</h2>
		<p class="blurb-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium adipisci debitis quidem itaque doloribus. Id tenetur quos reiciendis quasi labore quidem a, ab itaque, eum est. Sunt ea nesciunt ut.</p>
	</div>


	<span class="end-mark" aria-hidden="true">&#9672;</span>
</main>