<main class="container fade-in">
	<a class="nav-back" href="#/"><img src="assets/svg/arrow-left.svg"></a>
	<div class="view-copy">
		<h1 class="h1">About</h1>
		
		<p>The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. We'll take a little bit of Van Dyke Brown. <a href="#">Random Link</a> Everyone is going to see things differently - and that's the way it should be. Go out on a limb - that's where the fruit is.</p>

		<p>We have no limits to our world. We're only limited by our imagination. And just raise cain. Just let this happen. We just let this flow right out of our minds. We'll lay all these little funky little things in there. Let's put some highlights on these little trees. The sun wouldn't forget them. Everyone wants to enjoy the good parts - but you have to build the framework first.</p>
	</div>

	<img class="view-image" src="assets/images/about-view.jpg">

	<div class="view-blurb">
		<h2 class="h2">What I'm Reading</h2>
		<p class="blurb-copy">Soft Skills: The Software Developer’s Life Manual, Atomic Design</
		p>
	</div>
	<div class="view-blurb">
		<h2 class="h2">What I'm Learning</h2>
		<p class="blurb-copy">AngularJS, Go, R, D3 Charts, OpenGL, WordPress, how to hum and whistle simultaneously</p>
	</div>

	<div class="view-blurb">
		<h2 class="h2">What I'm Passionate About</h2>
		<p class="blurb-copy">Accessibility, semantic code, BEM, design, podcasting, something else</p>
	</div>

	<span class="end-mark" aria-hidden="true">&#9672;</span>
</main>