<main class="container fade-in">
	<a class="nav-back" href="#/"><img src="assets/svg/arrow-left.svg"></a>
	<div class="view-copy">
		<h1 class="h1">About</h1>
		
		<p>My name is Tanner Woodworth and I am a front-end web developer based in Pittsburgh, PA.</p>

		<p>I have attended school at Pittsburgh Technical College where I received my Associate in Science Degree in Multimedia Technologies with a concentration in Web Design and Development. While attending school at PTC, I had received numerous awards for academic achievements as well as a Best in Show award for the Spring 2016 Portfolio show, and a 1st place Graphic Design Scholarship award.</p>

		<p>Over the years I have had the opprotunity to work with a multitude of different clients. Aside from web work, I have also assisted numerous clients with video and photography projects.</p>

	<p>I try and squeeze as much learning into a day as I can, whether that means working through some online courses in my spare time, listening to an audiobook on my way to get groceries, or a podcast while learning.</p>

		<p>I do my best to select hobbies analogous to my career, such as podcasting, photography, and even a little game development.</p>

	</div>

	<img class="view-image" src="assets/images/about-view.jpg">


	<div class="view-blurb">
		<h2 class="h2">What I'm Reading</h2>
		<p class="blurb-copy">Soft Skills: The Software Developer’s Life Manual, Atomic Design</
		p>
	</div>
	<div class="view-blurb">
		<h2 class="h2">What I'm Learning</h2>
		<p class="blurb-copy">AngularJS, Go, R, D3 Charts, OpenGL, WordPress, how to hum and whistle simultaneously</p>
	</div>

	<div class="view-blurb">
		<h2 class="h2">What I'm Passionate About</h2>
		<p class="blurb-copy">Accessibility, semantic code, BEM, design, and podcasting.</p>
	</div>

	<span class="end-mark" aria-hidden="true">&#9672;</span>
</main>