@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.view-copy {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 16.66667%;
  margin-top: 150px; }

.view-blurb, .view-project {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-top: 25px; }

@media screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
    .container:after {
      content: " ";
      display: block;
      clear: both; }
  .view-copy, .view-blurb, .view-project {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0%; } }

.full-height {
  position: relative;
  top: 0;
  bottom: 0;
  min-height: 100%; }

.m-gutter {
  margin-top: 17px; }

.transparentize, .end-mark {
  opacity: .4; }

html {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background-color: #2B2046;
  color: #ffffff; }

.h1, .h2 {
  font-family: "Playfair Display", serif;
  line-height: 1.1; }

.h1 {
  font-size: 48px;
  font-weight: bold; }

.h2 {
  font-size: 24px; }

.project-sub {
  font-size: 24px;
  margin-top: 10px;
  display: inline-block;
  font-family: "Playfair Display", serif;
  opacity: .8; }

p {
  line-height: 1.4;
  margin-top: 25px; }

a {
  color: #292666;
  transition: color 150ms; }
  a:hover {
    color: #292666; }

.view-image {
  max-width: 100%;
  margin-top: 25px; }

.blurb-copy {
  margin-top: 10px;
  display: block; }

.list-bullet > li {
  position: relative;
  list-style-type: square;
  list-style-position: inside;
  left: 0; }

.end-mark {
  display: block;
  clear: both;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 48px; }

@media screen and (max-width: 1000px) {
  .end-mark {
    padding-top: 50px;
    padding-bottom: 50px; } }

.navigation {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.nav-item {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background-position: center;
  background-size: cover; }
  .nav-item > span {
    position: absolute;
    color: #ffffff;
    font-size: 72px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    transition: transform 250ms ease-in-out; }
  .nav-item:hover span, .nav-item:focus span {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: translateX(-50%) translateY(-50%) scale(1.1); }

.nav-about {
  top: 0;
  left: 0;
  right: 49%;
  bottom: 49%;
  background-color: #DE6161; }

.nav-work {
  top: 0;
  left: 50%;
  right: 0%;
  bottom: 50%;
  background-color: #A8D0E6; }

.nav-resume {
  top: 50%;
  left: 50%;
  right: 0%;
  bottom: 0%;
  background-color: #303F80; }

.nav-contact {
  top: 50%;
  left: 0;
  right: 50%;
  bottom: 0%;
  background-color: #FAABAB; }

@media screen and (max-width: 1000px) {
  .nav-item {
    width: 100%;
    height: 25%;
    left: 0;
    right: 0; }
  .nav-about {
    top: 0;
    bottom: 25%; }
  .nav-work {
    top: 25%;
    bottom: 50%; }
  .nav-contact {
    top: 50%;
    bottom: 75%; }
  .nav-resume {
    top: 75%;
    bottom: 0; } }

.nav-back {
  height: 30px;
  width: 30px;
  position: fixed;
  top: 160px;
  fill: #ffffff;
  text-decoration: none;
  border-radius: 1px;
  opacity: .5;
  transition: opacity 150ms; }
  .nav-back:hover, .nav-back:focus {
    opacity: 1; }
  @media screen and (max-width: 1000px) {
    .nav-back {
      top: 60px; } }

.view-project {
  display: block;
  position: relative;
  overflow: hidden; }

.view-project-image {
  max-width: 100%; }

.view-project-container {
  position: relative; }

.view-project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 95%;
  height: 100%;
  background-color: #292666;
  text-align: center; }

.view-project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .view-project-info > strong {
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    display: block; }
  .view-project-info > a {
    color: #ffffff; }
