<main class="container">
	<a href="#/"><img class="nav-back" src="assets/svg/arrow-left.svg"></a>
	<div class="view-copy">
		<h1 class="h1">Contact</h1>
		
		<p>The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe.</p>

	</div>

	<div class="view-blurb">
		<h2 class="h2">Email</h2>
		<a href="mail:twoodworth2014@gmail.com" class="blurb-copy">twoodworth2014@gmail.com</a>
	</div>

	<div class="view-blurb">
		<h2 class="h2">Phone</h2>
		<p class="blurb-copy">814 462 5298</p>
	</div>

	<div class="view-blurb">
		<h2 class="h2">On the Web</h2>
		<a href="https://www.linkedin.com/in/tannerwoodworth" target="_blank"><img class="social-icon" src="assets/svg/linkedin.svg"></a>
		<a href="https://github.com/TannerWoodworth" target="_blank"><img class="social-icon" src="assets/svg/github.svg"></a>
		<a href="https://twitter.com/tannerwoodworth" target="_blank"><img class="social-icon" src="assets/svg/twitter.svg"></a>
		<a href="https://www.facebook.com/tannerwoodworth" target="_blank"><img class="social-icon" src="assets/svg/facebook.svg"></a>
		
	</div>

	<span class="end-mark" aria-hidden="true">&#9672;</span>
</main>