<main class="container fade-in">
	<a href="#/"><img class="nav-back" src="assets/svg/arrow-left.svg"></a>
	<div class="view-copy">
		<h1 class="h1">Work</h1>
		
		<p>The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe.</p>

		<p>To request a more complete portfolio or have questions, please feel free to reach out to me at <a href="mail:twoodworth2014@gmail.com">twoodworth2014@gmail.com</a>.</p>

	</div>

	<portfolio-item class="view-project" project-object="projects" ng-repeat="projects in projects">
	</portfolio-item>

	<span class="end-mark" aria-hidden="true">&#9672;</span>
</main>