// IMAGES
.view-image {
	max-width: 100%;
	margin-top: $base-size;
}

.blurb-copy {
	margin-top: $base-size-small;
	display: block;
}

// LISTS


// MISC
.end-mark {
	@extend .transparentize;
	display: block;
	clear: both;
	text-align: center;
	padding-top: $base-size-large-x;
	padding-bottom: $base-size-large-x;
	font-size: $font-size-large-x;
}

@media screen and (max-width: $mobile) {
	.end-mark {
		padding-top: $base-size-large;
		padding-bottom: $base-size-large;
	}
}

.social-icon {
	display: inline-block;
	height: $base-size;
	width: $base-size;
	margin-top: $base-size-small-x;
	margin-right: $base-size-small-x;
	opacity: .7;
	transition: opacity $animation-speed-fast ease-in-out;
	&:hover {
		opacity: 1;
	}
}