// IMAGES
.view-image {
	max-width: 100%;
	margin-top: $base-size;
}

.blurb-copy {
	margin-top: $base-size-small;
	display: block;
}

// LISTS
.list-bullet {
	
	& > li {
		position: relative;
		list-style-type: square;
		list-style-position: inside;
		left: 0;
	}
}

// MISC
.end-mark {
	@extend .transparentize;
	display: block;
	clear: both;
	text-align: center;
	padding-top: $base-size-large-x;
	padding-bottom: $base-size-large-x;
	font-size: $font-size-large-x;
}

	
	.end-mark {
		padding-top: $base-size-large;
		padding-bottom: $base-size-large;
	}
}