@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway');

// GENERAL
html {
	font-family: $font-stack-secondary;
	font-size: 18px;
	background-color: $color-purple-dark;
	color: $color-white;
}

// HEADERS
.h1, .h2 {
	font-family: $font-stack;
	line-height: 1.1;
}

.h1 {
	font-size: $font-size-large-x;
	font-weight: bold;
}

.h2 {
	font-size: $font-size-large;
}

.project-sub {
	font-size: $font-size-large;
	margin-top: $base-size-small;
	display: inline-block;
	font-family: $font-stack;
	opacity: .8;
}

// BODY COPY
p {
	line-height: 1.4;
	margin-top: $base-size;
}

// LINKS COPY
a {
	color: $link-color;
	transition: color 150ms;
		&:hover {
		color: $color-purple-alt;
	}
}
