// SECTION COLORS
$color-red:										#DE6161;
$color-pink:									#FAABAB;
$color-blue:									#A8D0E6;
$color-purple:								#303F80;

// MISC COLORS
$color-purple-alt:						#292666;
$color-purple-dark:						#2B2046;
$color-gray:									#C0C0C0;
$color-red-alt:								#F76C6C;

// OTHER COLORS
$color-white: 								#ffffff;
$color-black: 								#000000;



// MEASUREMENTS
$base-size: 									25px;
$base-size-small-x: 					5px;
$base-size-small: 						10px;
$base-size-large: 						$base-size * 2;



// TYPOGRAPHY
$font-stack: 									'Playfair Display', serif;
$font-stack-secondary:				'Raleway', sans-serif;
$font-size: 									18px;
$font-size-small: 						14px;
$font-size-large: 						24px;
$font-size-large-x: 					48px;
$font-size-large-xx: 					72px;
$font-size-large-xxx: 				288px;

// BREAKPOINTS
// $mobile: 768px;

// MISC
$br: 													1px;