<main class="container fade-in">
	<a class="nav-back" href="#/"><img src="assets/svg/arrow-left.svg"></a>
	<div class="view-copy">
		<h1 class="h1">Work</h1>
		
		<p>Here is a small selection of my work. You can find more of my work on my <a href="https://github.com/TannerWoodworth" target="_blank">Github</a>.</p>

		<p>To request a more complete portfolio or have questions, please feel free to reach out to me at <a href="mail:twoodworth2014@gmail.com">twoodworth2014@gmail.com</a>.</p>

	</div>

	<portfolio-item class="view-project" project-object="projects" ng-repeat="projects in projects">
	</portfolio-item>

	<span class="end-mark" aria-hidden="true">&#9672;</span>
</main>